<!DOCTYPE html>
<html>
	<head>
		<title>Haemin Kim, Library Data Analyst</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Haemin!</h1>
			<p>I'm a <em>Library Data Analyst</em> at Drexel University. <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:hk433@drexel.edu">email</a></li>
        		<li><a href="https://github.com/HK7232">github.com/HK7232</a></li>
			</ul>
		</footer>
	</body>
</html>
